@model List<Ciudad>
@{
    ViewData["Title"] = "About";
    var nombre = "Lista de Ciudades Dominicanas";
  
}
<h3>@nombre</h3>
<ul>
    @foreach(var ciudad in Model)
    {
        <li>@ciudad.Nombre</li>

    }
</ul>
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
